In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [3]:
covid_data = pd.read_csv("covid_19_india.csv")

In [5]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [6]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14402 entries, 0 to 14401
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       14402 non-null  int64
 1   Date                      14402 non-null  object
 2   Time                      14402 non-null  object
 3   State/UnionTerritory      14402 non-null  object
 4   ConfirmedIndianNational   14402 non-null  object
 5   ConfirmedForeignNational  14402 non-null  object
 6   Cured                     14402 non-null  int64
 7   Deaths                    14402 non-null  int64
 8   Confirmed                 14402 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1012.8+ KB

In [8]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14402 entries, 0 to 14401
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       14402 non-null  int64
 1   Date                      14402 non-null  datetime64[ns]
 2   Time                      14402 non-null  object
 3   State/UnionTerritory      14402 non-null  object
 4   ConfirmedIndianNational   14402 non-null  object
 5   ConfirmedForeignNational  14402 non-null  object
 6   Cured                     14402 non-null  int64
 7   Deaths                    14402 non-null  int64
 8   Confirmed                 14402 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1012.8+ KB

In [9]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [10]:
del covid_data['Time']

In [11]:
covid_data.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,Kerala,1,0,0,0,1
1,2,2020-01-31,Kerala,1,0,0,0,1
2,3,2020-02-01,Kerala,2,0,0,0,2
3,4,2020-02-02,Kerala,3,0,0,0,3
4,5,2020-02-03,Kerala,3,0,0,0,3