In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [2]:
covid_data = pd.read_csv("covid_19_india.csv")

In [3]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14402 entries, 0 to 14401
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       14402 non-null  int64
 1   Date                      14402 non-null  object
 2   Time                      14402 non-null  object
 3   State/UnionTerritory      14402 non-null  object
 4   ConfirmedIndianNational   14402 non-null  object
 5   ConfirmedForeignNational  14402 non-null  object
 6   Cured                     14402 non-null  int64
 7   Deaths                    14402 non-null  int64
 8   Confirmed                 14402 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1012.8+ KB

In [5]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14402 entries, 0 to 14401
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       14402 non-null  int64
 1   Date                      14402 non-null  datetime64[ns]
 2   Time                      14402 non-null  object
 3   State/UnionTerritory      14402 non-null  object
 4   ConfirmedIndianNational   14402 non-null  object
 5   ConfirmedForeignNational  14402 non-null  object
 6   Cured                     14402 non-null  int64
 7   Deaths                    14402 non-null  int64
 8   Confirmed                 14402 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1012.8+ KB

In [6]:
covid_data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [7]:
covid_data.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [8]:
covid_data.drop(['Time','Sno','ConfirmedIndianNational','ConfirmedForeignNational'],axis = 'columns', inplace = True)

In [9]:
covid_data.head()

        Date State/UnionTerritory  Cured  Deaths  Confirmed
0 2020-01-30               Kerala      0       0          1
1 2020-01-31               Kerala      0       0          1
2 2020-02-01               Kerala      0       0          2
3 2020-02-02               Kerala      0       0          3
4 2020-02-03               Kerala      0       0          3

## Death & Cured Percentage of States

In [19]:
state_wise = covid_data.groupby('State/UnionTerritory').sum()
state_wise["Death_percentage"] = ((state_wise["Deaths"] / state_wise["Confirmed"]) * 100)
state_wise["Cured_percentage"] = ((state_wise["Cured"] / state_wise["Confirmed"]) * 100)
state_wise

,Cured,Deaths,Confirmed,Death_percentage,Cured_percentage
State/UnionTerritory,,,,,
Andaman and Nicobar Islands,1133805,15257,1201643,1.269678,94.354563
Andhra Pradesh,201609452,1738353,212943470,0.816345,94.677452
Arunachal Pradesh,3454915,11219,3707349,0.302615,93.190984
Assam,49352011,239976,52783651,0.454641,93.498669
Bihar,58593582,341385,62415049,0.546959,93.877331
Cases being reassigned to states,0,0,345565,0.000000,0.000000
Chandigarh,4333293,70746,4773929,1.481924,90.769951
Chhattisgarh,57499183,747149,64750749,1.153885,88.800800
Dadra and Nagar Haveli and Daman and Diu,851092,610,913145,0.066802,93.204475
Daman & Diu,0,0,2,0.000000,0.000000
Delhi,132821807,2501783,142180682,1.759580,93.417618
Goa,11283129,168501,12239245,1.376727,92.188113
Gujarat,55584813,1222867,61852448,1.977071,89.866796
Haryana,54397319,632114,58622315,1.078282,92.792854
Himachal Pradesh,9887019,175612,11002770,1.596071,89.859363
Jammu and Kashmir,25660163,435471,28117186,1.548772,91.261490
Jharkhand,25657375,251220,27904226,0.900294,91.947990
Karnataka,200282546,2915636,219096125,1.330757,91.413094
Kerala,159695380,693099,176948900,0.391694,90.249434
Ladakh,1911048,26112,2113319,1.235592,90.428752
Lakshadweep,42644,67,62110,0.107873,68.658831
Madhya Pradesh,52378909,893993,57749668,1.548049,90.699931
Maharashtra,457550907,12627298,525294573,2.403851,87.103681
Manipur,5401696,66492,5905518,1.125930,91.468623
Meghalaya,2587327,28124,2834633,0.992157,91.275555
Mizoram,840192,1533,916790,0.167214,91.644979
Nagaland,2424445,15919,2650173,0.600678,91.482518
Odisha,72014704,398305,75848540,0.525132,94.945406
Puducherry,8377060,151777,9123368,1.663607,91.819819
Punjab,37794336,1275815,42312700,3.015206,89.321494
Rajasthan,62646711,632258,68583381,0.921882,91.343865
Sikkim,1155280,24800,1271130,1.951020,90.886062
Tamil Nadu,193182045,3064923,206027810,1.487626,93.765033
Telangana,355618,2261,435606,0.519047,81.637535
Telengana,63948489,395854,69111702,0.572774,92.529177
Tripura,7283551,87576,7839504,1.117111,92.908314
Unassigned,0,0,161,0.000000,0.000000
Uttar Pradesh,128364861,2010688,141654755,1.419429,90.618110
Uttarakhand,18394475,327639,20322872,1.612169,90.511198
West Bengal,112629421,2174228,121233856,1.793417,92.902614

## Over all Cured and Deaths in India

In [16]:
individual_states = state_wise.sum()
individual_states

Cured               2.281381e+09
Deaths              3.636666e+07
Confirmed           2.503091e+09
Death_percentage    4.283186e+01
dtype: float64

In [24]:
state_wise.Cured_percentage.max()

94.94540567293714